<link rel="preconnect" href="https://use.typekit.net">
<link rel="dns-prefetch" href="https://use.typekit.net">

{% if not process.env.VRT %}
  {% css "tools" %}
    @import url("https://wwwimages2.adobe.com/etc/beagle/public/globalnav/adobe-globalnav/latest/adobe-globalnav.min.css");
  {% endcss %}
{% endif %}

{% for packageName in dependencies | dedupe -%}
  {% if packageName and packageName !== 'tokens' and packageName !== 'expressvars' and packageName !== 'vars' %}
    <link rel="stylesheet" type="text/css" href="{{ '/components/' + packageName + '/index-vars.css' | url }}"/>
  {% endif %}
{%- endfor %}
<!-- Site styles should override all other provided styles -->
<link rel="stylesheet" type="text/css" href="{{ '/assets/styles/index.css' | url }}"/>
