.spectrum-Dropzone{
  text-align:center;
  border-width:var(--spectrum-dropzone-border-width, var(--spectrum-alias-border-size-thick));
  border-radius:var(--spectrum-dropzone-border-radius, var(--spectrum-alias-border-radius-regular));
  padding:var(--spectrum-dropzone-padding, var(--spectrum-global-dimension-size-900));
  border-style:dashed;
}

.spectrum-Dropzone.is-dragged{
    border-style:solid;
  }

.spectrum-Dropzone:focus{
    outline:0;
    border-style:dashed;
  }

.spectrum-Dropzone:focus.focus-ring{
      border-style:solid;
    }
