.spectrum-Slider{
  --spectrum-slider-m-focus-ring-size:var(--spectrum-alias-focus-ring-size, var(--spectrum-global-dimension-static-size-25));
  --spectrum-slider-m-handle-border-color-key-focus:var(
    --spectrum-global-color-gray-800
  );
  --spectrum-slider-m-handle-focus-ring-color-key-focus:var(--spectrum-alias-focus-color, var(--spectrum-global-color-blue-400));
  --spectrum-slider-m-label-text-color:var(--spectrum-alias-label-text-color, var(--spectrum-global-color-gray-700));

  --spectrum-slider-m-label-text-color-disabled:var(--spectrum-alias-text-color-disabled, var(--spectrum-global-color-gray-500));
}

.spectrum-Slider-track::before{
    background:var(--spectrum-slider-m-track-color, var(--spectrum-global-color-gray-400));
  }

.spectrum-Slider-labelContainer{
  color:var(--spectrum-slider-m-label-text-color);
}

.spectrum-Slider--filled .spectrum-Slider-track:first-child::before{
      background:var(--spectrum-slider-m-track-fill-color, var(--spectrum-global-color-gray-700));
    }

.spectrum-Slider-fill::before{
    background:var(--spectrum-slider-m-track-fill-color, var(--spectrum-global-color-gray-700));
  }

.spectrum-Slider-ramp path{
    fill:var(--spectrum-slider-m-track-color, var(--spectrum-global-color-gray-400));
  }

.spectrum-Slider-handle{
  border-color:var(--spectrum-slider-m-handle-border-color, var(--spectrum-global-color-gray-700));
  background:var(--spectrum-slider-m-handle-background-color, var(--spectrum-alias-background-color-transparent));
}

.spectrum-Slider-handle:hover{
    border-color:var(--spectrum-slider-m-handle-border-color-hover, var(--spectrum-global-color-gray-800));
  }

.spectrum-Slider-handle.is-focused{
    border-color:var(--spectrum-slider-m-handle-border-color-key-focus, var(--spectrum-global-color-gray-800));
  }

.spectrum-Slider-handle.is-focused:before{
      box-shadow:0 0 0 var(--spectrum-slider-m-focus-ring-size, var(--spectrum-alias-focus-ring-size))
        var(--spectrum-slider-m-handle-focus-ring-color-key-focus);
    }

.spectrum-Slider-handle:active,
  .spectrum-Slider-handle.is-dragged{
    border-color:var(--spectrum-slider-m-handle-border-color-down, var(--spectrum-global-color-gray-800));
  }

.spectrum-Slider--ramp .spectrum-Slider-handle{
    box-shadow:0 0 0 var(--spectrum-slider-m-handle-gap, var(--spectrum-alias-border-size-thicker)) var(--spectrum-alias-background-color-default, var(--spectrum-global-color-gray-100));
  }

.spectrum-Slider-input{
  background:transparent;
}

.spectrum-Slider-tick:after{
    background-color:var(--spectrum-slider-m-tick-mark-color, var(--spectrum-global-color-gray-400));
  }

.spectrum-Slider-handle.is-dragged{
    border-color:var(--spectrum-slider-m-handle-border-color-down, var(--spectrum-global-color-gray-800));
    background:var(--spectrum-slider-m-handle-background-color, var(--spectrum-alias-background-color-transparent));
  }

.spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before{
        background:var(--spectrum-slider-m-track-fill-color, var(--spectrum-global-color-gray-700));
      }

.spectrum-Slider.is-disabled .spectrum-Slider-labelContainer{
      color:var(--spectrum-slider-m-label-text-color-disabled);
    }

.spectrum-Slider.is-disabled .spectrum-Slider-handle{
      border-color:var(--spectrum-slider-m-handle-border-color-disabled, var(--spectrum-global-color-gray-400));
      background:var(--spectrum-alias-background-color-default, var(--spectrum-global-color-gray-100));
    }

.spectrum-Slider.is-disabled .spectrum-Slider-handle:hover,
      .spectrum-Slider.is-disabled .spectrum-Slider-handle:active{
        border-color:var(--spectrum-slider-m-handle-border-color-disabled, var(--spectrum-global-color-gray-400));
        background:var(--spectrum-slider-m-handle-background-color, var(--spectrum-alias-background-color-transparent));
      }

.spectrum-Slider.is-disabled .spectrum-Slider-track::before{
        background:var(--spectrum-slider-m-track-color-disabled, var(--spectrum-global-color-gray-300));
      }

.spectrum-Slider.is-disabled.spectrum-Slider--filled .spectrum-Slider-track:first-child::before{
          background:var(--spectrum-slider-m-track-fill-color-disabled, var(--spectrum-global-color-gray-300));
        }

.spectrum-Slider.is-disabled .spectrum-Slider-fill::before{
        background:var(--spectrum-slider-m-track-fill-color-disabled, var(--spectrum-global-color-gray-300));
      }

.spectrum-Slider.is-disabled .spectrum-Slider-ramp path{
        fill:var(--spectrum-slider-ramp-track-color-disabled);
      }

.spectrum-Slider.is-disabled.spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before{
            background:var(--spectrum-slider-m-track-fill-color-disabled, var(--spectrum-global-color-gray-300));
          }

@media (forced-colors: active){
  .spectrum-Slider{
    --spectrum-alias-background-color-default:ButtonFace;
    --spectrum-alias-focus-color:ButtonText;
    --spectrum-alias-label-text-color:CanvasText;
    --spectrum-alias-text-color-disabled:GrayText;
    --spectrum-slider-m-handle-background-color:ButtonFace;
    --spectrum-slider-m-handle-border-color:ButtonText;
    --spectrum-slider-m-handle-border-color-disabled:GrayText;
    --spectrum-slider-m-handle-border-color-down:Highlight;
    --spectrum-slider-m-handle-border-color-hover:Highlight;
    --spectrum-slider-m-handle-border-color-key-focus:Highlight;
    --spectrum-slider-m-handle-focus-ring-color-key-focus:ButtonText;
    --spectrum-slider-m-label-text-color:CanvasText;
    --spectrum-slider-m-label-text-color-disabled:GrayText;
    --spectrum-slider-m-tick-mark-color:ButtonText;
    --spectrum-slider-m-track-color:ButtonText;
    --spectrum-slider-m-track-color-disabled:GrayText;
    --spectrum-slider-m-track-fill-color:ButtonText;
    --spectrum-slider-m-track-fill-color-disabled:GrayText;
    --spectrum-slider-ramp-track-color-disabled:GrayText;
  }
      .spectrum-Slider .spectrum-Slider-handle:before{
        forced-color-adjust:none;
      }
    .spectrum-Slider--ramp .spectrum-Slider-handle{
      forced-color-adjust:none;
    }
}
