/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-ClearButton {
  position: relative;

  display: inline-flex;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
  overflow: visible;
  margin: 0;

  border-style: solid;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: button;
  vertical-align: top;

  transition: background var(--spectrum-global-animation-duration-100) ease-out,
    border-color var(--spectrum-global-animation-duration-100) ease-out,
    color var(--spectrum-global-animation-duration-100) ease-out,
    box-shadow var(--spectrum-global-animation-duration-100) ease-out;

  text-decoration: none;
  font-family: var(--spectrum-alias-body-text-font-family);

  line-height: var(--spectrum-alias-component-text-line-height);

  user-select: none;
  -webkit-user-select: none;

  cursor: pointer;
}

.spectrum-ClearButton:focus {
  outline: none;
}

.spectrum-ClearButton::-moz-focus-inner {
  border: 0;
  border-style: none;
  padding: 0;
  margin-top: -2px;
  margin-bottom: -2px;
}

.spectrum-ClearButton:disabled,
.spectrum-ClearButton.is-disabled {
  cursor: default;
}

.spectrum-ClearButton {
  border-radius: 100%;

  background-color: transparent;
  padding: var(--spectrum-clearbutton-padding);
  margin: 0;

  border: none;
}

.spectrum-ClearButton > .spectrum-Icon {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.spectrum-ClearButton--sizeS {
  --spectrum-clearbutton-fill-uiicon-color-disabled: var(
    --spectrum-clearbutton-s-fill-uiicon-color-disabled
  );
  --spectrum-clearbutton-fill-uiicon-color: var(
    --spectrum-clearbutton-s-fill-uiicon-color
  );
  --spectrum-clearbutton-fill-background-color: var(
    --spectrum-clearbutton-s-fill-background-color
  );
  --spectrum-clearbutton-fill-uiicon-color-down: var(
    --spectrum-clearbutton-s-fill-uiicon-color-down
  );
  --spectrum-clearbutton-fill-background-color-down: var(
    --spectrum-clearbutton-s-fill-background-color-down
  );
  --spectrum-clearbutton-fill-background-color-hover: var(
    --spectrum-clearbutton-s-fill-background-color-hover
  );
  --spectrum-clearbutton-fill-uiicon-color-key-focus: var(
    --spectrum-clearbutton-s-fill-uiicon-color-key-focus
  );
  --spectrum-clearbutton-fill-size: var(--spectrum-clearbutton-s-fill-size);
  --spectrum-clearbutton-padding: var(--spectrum-clearbutton-s-padding);
}

.spectrum-ClearButton--sizeM {
  --spectrum-clearbutton-fill-uiicon-color-disabled: var(
    --spectrum-clearbutton-m-fill-uiicon-color-disabled
  );
  --spectrum-clearbutton-fill-uiicon-color: var(
    --spectrum-clearbutton-m-fill-uiicon-color
  );
  --spectrum-clearbutton-fill-background-color: var(
    --spectrum-clearbutton-m-fill-background-color
  );
  --spectrum-clearbutton-fill-uiicon-color-down: var(
    --spectrum-clearbutton-m-fill-uiicon-color-down
  );
  --spectrum-clearbutton-fill-background-color-down: var(
    --spectrum-clearbutton-m-fill-background-color-down
  );
  --spectrum-clearbutton-fill-background-color-hover: var(
    --spectrum-clearbutton-m-fill-background-color-hover
  );
  --spectrum-clearbutton-fill-uiicon-color-key-focus: var(
    --spectrum-clearbutton-m-fill-uiicon-color-key-focus
  );
  --spectrum-clearbutton-fill-size: var(--spectrum-clearbutton-m-fill-size);
  --spectrum-clearbutton-padding: var(--spectrum-clearbutton-m-padding);
}

.spectrum-ClearButton--sizeL {
  --spectrum-clearbutton-fill-uiicon-color-disabled: var(
    --spectrum-clearbutton-l-fill-uiicon-color-disabled
  );
  --spectrum-clearbutton-fill-uiicon-color: var(
    --spectrum-clearbutton-l-fill-uiicon-color
  );
  --spectrum-clearbutton-fill-background-color: var(
    --spectrum-clearbutton-l-fill-background-color
  );
  --spectrum-clearbutton-fill-uiicon-color-down: var(
    --spectrum-clearbutton-l-fill-uiicon-color-down
  );
  --spectrum-clearbutton-fill-background-color-down: var(
    --spectrum-clearbutton-l-fill-background-color-down
  );
  --spectrum-clearbutton-fill-background-color-hover: var(
    --spectrum-clearbutton-l-fill-background-color-hover
  );
  --spectrum-clearbutton-fill-uiicon-color-key-focus: var(
    --spectrum-clearbutton-l-fill-uiicon-color-key-focus
  );
  --spectrum-clearbutton-fill-size: var(--spectrum-clearbutton-l-fill-size);
  --spectrum-clearbutton-padding: var(--spectrum-clearbutton-l-padding);
}

.spectrum-ClearButton--sizeXL {
  --spectrum-clearbutton-fill-uiicon-color-disabled: var(
    --spectrum-clearbutton-xl-fill-uiicon-color-disabled
  );
  --spectrum-clearbutton-fill-uiicon-color: var(
    --spectrum-clearbutton-xl-fill-uiicon-color
  );
  --spectrum-clearbutton-fill-background-color: var(
    --spectrum-clearbutton-xl-fill-background-color
  );
  --spectrum-clearbutton-fill-uiicon-color-down: var(
    --spectrum-clearbutton-xl-fill-uiicon-color-down
  );
  --spectrum-clearbutton-fill-background-color-down: var(
    --spectrum-clearbutton-xl-fill-background-color-down
  );
  --spectrum-clearbutton-fill-background-color-hover: var(
    --spectrum-clearbutton-xl-fill-background-color-hover
  );
  --spectrum-clearbutton-fill-uiicon-color-key-focus: var(
    --spectrum-clearbutton-xl-fill-uiicon-color-key-focus
  );
  --spectrum-clearbutton-fill-size: var(--spectrum-clearbutton-xl-fill-size);
  --spectrum-clearbutton-padding: var(--spectrum-clearbutton-xl-padding);
}

.spectrum-ClearButton-fill {
  background-color: var(--spectrum-clearbutton-fill-background-color);

  width: var(--spectrum-clearbutton-fill-size);
  height: var(--spectrum-clearbutton-fill-size);
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.spectrum-ClearButton {
  color: var(--spectrum-clearbutton-m-fill-uiicon-color);
}

.spectrum-ClearButton:hover {
  color: var(--spectrum-clearbutton-fill-uiicon-color);
}

.spectrum-ClearButton:active {
  color: var(--spectrum-clearbutton-fill-uiicon-color-down);
}

.spectrum-ClearButton.focus-ring {
  color: var(--spectrum-clearbutton-fill-uiicon-color-key-focus);
}

.spectrum-ClearButton:disabled,
.spectrum-ClearButton.is-disabled {
  color: var(--spectrum-clearbutton-fill-uiicon-color-disabled);
}

.spectrum-ClearButton:hover .spectrum-ClearButton-fill {
  background-color: var(--spectrum-clearbutton-fill-background-color-hover);
}

.spectrum-ClearButton:active .spectrum-ClearButton-fill {
  background-color: var(--spectrum-clearbutton-fill-background-color-down);
}

.spectrum-ClearButton.focus-ring .spectrum-ClearButton-fill {
  background-color: var(--spectrum-clearbutton-fill-background-color-key-focus);
}

.spectrum-ClearButton:disabled .spectrum-ClearButton-fill,
.spectrum-ClearButton.is-disabled .spectrum-ClearButton-fill {
  background-color: var(--spectrum-clearbutton-fill-background-color-disabled);
}

.spectrum-ClearButton--overBackground {
  color: var(--spectrum-alias-icon-color-overbackground);
}

.spectrum-ClearButton--overBackground:hover {
  color: var(--spectrum-alias-icon-color-overbackground);
}

.spectrum-ClearButton--overBackground:active {
  color: var(--spectrum-alias-icon-color-overbackground);
}

.spectrum-ClearButton--overBackground.focus-ring {
  color: var(--spectrum-alias-icon-color-overbackground);
}

.spectrum-ClearButton--overBackground:disabled,
.spectrum-ClearButton--overBackground.is-disabled .spectrum-ClearButton-fill {
  background-color: var(--spectrum-alias-icon-color-overbackground-disabled);
}

.spectrum-ClearButton--overBackground {
  background-color: var(
    --spectrum-button-m-primary-outline-white-texticon-background-color
  );
  border-color: var(
    --spectrum-button-m-primary-outline-white-texticon-border-color
  );
  color: var(--spectrum-button-m-primary-outline-white-texticon-text-color);
}

.spectrum-ClearButton--overBackground:hover {
  background-color: var(
    --spectrum-button-m-primary-outline-white-texticon-background-color-hover
  );
  border-color: var(
    --spectrum-button-m-primary-outline-white-texticon-border-color-hover
  );
  color: var(
    --spectrum-button-m-primary-outline-white-texticon-text-color-hover
  );
}

.spectrum-ClearButton--overBackground.focus-ring {
  background-color: var(
    --spectrum-button-m-primary-outline-white-texticon-background-color-hover
  );
  border-color: var(
    --spectrum-button-m-primary-outline-white-texticon-border-color-hover
  );
  color: var(
    --spectrum-button-m-primary-outline-white-texticon-text-color-hover
  );
  box-shadow: none;
}

.spectrum-ClearButton--overBackground.focus-ring:after {
  box-shadow: 0 0 0 var(--spectrum-alias-focus-ring-size)
    var(
      --spectrum-button-m-primary-outline-white-texticon-border-color-key-focus
    );
}

.spectrum-ClearButton--overBackground:active {
  background-color: var(
    --spectrum-button-m-primary-outline-white-texticon-background-color-down
  );
  border-color: var(
    --spectrum-button-m-primary-outline-white-texticon-border-color-down
  );
  color: var(
    --spectrum-button-m-primary-outline-white-texticon-text-color-down
  );
}

.spectrum-ClearButton--overBackground:disabled,
.spectrum-ClearButton--overBackground.is-disabled {
  background-color: var(
    --spectrum-button-m-primary-outline-white-texticon-background-color-disabled
  );
  border-color: var(
    --spectrum-button-m-primary-outline-white-texticon-border-color-disabled
  );
  color: var(
    --spectrum-button-m-primary-outline-white-texticon-text-color-disabled
  );
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .spectrum-ClearButton > .spectrum-Icon {
    margin: 0;
  }
}

@media (forced-colors: active) {
  .spectrum-ClearButton {
    --spectrum-alias-icon-color-overbackground: ButtonText;
    --spectrum-alias-icon-color-overbackground-disabled: GrayText;
    --spectrum-button-m-primary-outline-white-texticon-border-color-key-focus: ButtonText;
    --spectrum-button-m-primary-outline-white-texticon-text-color: ButtonText;
    --spectrum-clearbutton-fill-background-color: ButtonFace;
    --spectrum-clearbutton-fill-background-color-down: ButtonFace;
    --spectrum-clearbutton-fill-background-color-hover: ButtonFace;
    --spectrum-clearbutton-fill-uiicon-color: ButtonText;
    --spectrum-clearbutton-fill-uiicon-color-disabled: GrayText;
    --spectrum-clearbutton-fill-uiicon-color-down: Highlight;
    --spectrum-clearbutton-fill-uiicon-color-key-focus: Highlight;
    --spectrum-clearbutton-m-fill-uiicon-color: ButtonText;
  }
  .spectrum-ClearButton:hover {
    color: var(--spectrum-clearbutton-fill-uiicon-color-key-focus);
  }
  .spectrum-ClearButton:disabled,
  .spectrum-ClearButton.is-disabled {
    color: var(--spectrum-clearbutton-fill-uiicon-color-disabled);
  }
}
